.container {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #182237;
    align-items: center;
    justify-content: space-between;
}
.title {
    color: #b7bac1;
    font-weight: bold;
    text-transform: capitalize;
}
.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}
.search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
}
.input {
    background-color: transparent;
    border: none;
    color: #fff;
}
.icons {
    display: flex;
    gap: 20px;
}