@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --testSoft: #b7bac1;
}
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
 }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer base {
  body {
    @apply bg-gray-500;
  }
}
body {
  color: var(--test);
  /* background: #4ABBEC; */
  background-color: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
a{
  color: inherit;
  text-decoration: none;
}
